.spinning {
    animation: 0.25s infinite spinning;
}

@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

body {
    overflow: hidden;
    background-color: black;
    /* background-image: url("/assets/portrait/starnight/starrynightend.gif");*/
    background-image: url("/assets/portrait/simplestarrynight.png");
}

.contactInfo {
    height: 32px;
    width: 32px;
}

.contactInfo:hover {
    filter: invert(1);
    background-color: black;
    border-radius: 50%;
    transform: scale(2) translateY(-10px);
    transition: transform 250ms ease-in-out;
}

#dayNight {

}


@media screen and (max-width: 374px), (max-height: 700px) {
    .Portrait {
        display: none;
    }

    .text {
        visibility: visible;
        margin: auto;
    }
}


@media screen and (min-width: 375px) and (min-height: 701px) {
    /*bare minimum for optimal portrait*/
    /*animation*/
    .passingLeft {
        animation: 6s ease-in-out cloudPassingLeft;
    }

    .passingRight {
        animation: 6s ease-in-out cloudPassingRight;
    }

    @keyframes cloudPassingLeft {
        0% {
            left: 50%;
            top: -20%;
            transform: translateX(-50%) scale(0);
        }
        50% {
            left: 50%;
            top: -20%;
            transform: translateX(-50%) scale(0.8);
        }
        100% {
            left: -200%;
            top: -30%;
            transform: translateX(-50%) scale(2);
        }
    }
    @keyframes cloudPassingRight {
        0% {
            left: 50%;
            top: -20%;
            transform: translateX(-50%) scale(0);
        }
        50% {
            left: 50%;
            top: -20%;
            transform: translateX(-50%) scale(0.8);
        }
        100% {
            left: 300%;
            top: -30%;
            transform: translateX(-50%) scale(2);
        }
    }
    @keyframes highlight {
        0% {
            opacity: 1;
        }
        15% {
            opacity: 0;
        }
        90% {
            opacity: 1;
        }
    }

    /*when showing land*/
    .Portrait.land .ground {
        margin-top: 10%;
        bottom: -180px;
    }

    .Portrait.land .options {
        bottom: -545px;
    }



    /*all parts have this in common*/
    .skybox, .cockpit, .celestial, .cloud1, .options {
        position: absolute;
        transition-duration: 3s;
    }

    /*specifics*/
    .ground {
        position: absolute;
        left: 50%;
        bottom: -456px;
        transform: translate(-50%);
        transition-duration: 0.8s;
        transition-delay: 0.77s;
        z-index: 3;
    }

    .prop {
        margin-left: 13%;
        width: 500px;
        height: 500px;
        z-index: 3;
        transition-duration: 3s;
    }

    .celestial {
        right: 10px;
        top: -5%;
        z-index: 1;
        height: 200px;
        width: 200px;
    }

    .cloud1 {
        z-index: 2;
        left: -100%;
        transform: translateX(-50%);
    }

    .Portrait {
        width: 100vw;
        height: 100vh;
        z-index: 1;
        position: relative;
    }
    .cockpit{
        z-index: 6;
    }

    /*options will cover the pilot and will be hover on hover devices(mouse), click on non(tablet)*/
    .options {
        width: 644px;
        height: 544px;
        z-index: 6;
        left: 50%;
        bottom: -290px;
        transform: translateX(-51%);

    }

    .options button {
        position: absolute;
        z-index: 7;
    }

    .guide {
        position: absolute;
        animation: 4s infinite highlight;
        background-color: #008d00;
        color: #182f00;
        top: 3%;
    }

    #clickable {
        left: 44%;

    }

    #hoverable {

        left: 43.5%;
    }


    .options #home {
        left: 28%;
        bottom: 45%;
    }

    .options #skills {
        left: 46%;
        bottom: 31%;
    }

    .options #work {
        left: 46%;
        bottom: 45%;
    }

    .options #contactMe {
        left: 61.5%;
        bottom: 41%;
    }

    .options #about {
        left: 28%;
        bottom: 31%;
    }

    .options #dayNight {
        right: 25%;
        bottom: 31%;
    }
    #clock{
        position: absolute;
        left: 37.4%;
        bottom: 54.7%;
        font-size: 9px;
        z-index: 6;
    }


    /*switch between night and day for all things*/
    .Portrait.day .groundNight, .Portrait.day .moon, .Portrait.night .sun, .Portrait.day .nightCloud, .Portrait.night .dayCloud, .Portrait.day .cockpitNight {
        opacity: 0;
    }

     .Portrait.night .groundNight, .Portrait.day .sun, .Portrait.night .moon, .Portrait.day .dayCloud, .Portrait.night .nightCloud, .Portrait.night .cockpitNight {
        opacity: 1;
    }

    .Portrait.day .skybox {
        bottom: 0;
    }

    .Portrait.night .skybox {
        bottom: -140vh;
    }

    /*text boxes and their holders*/
    .text {

    }

}

/*hover effects*/
@media screen  and (min-width: 375px) and (min-height: 701px) and (hover: hover) {
    /*on hover, all move up*/
    .options:hover {
        bottom: -125px;
    }
    .options:hover .prop{
        margin-top: -20px;
    }

    #clickable {
        display: none;
    }
}

/*non-hover effects*/
@media screen  and (min-width: 375px) and (min-height: 701px) and (hover: none) {
    /*on hover, all move up*/
    .options.active {
        bottom: -130px;
    }


    #hoverable {
        display: none;
    }
}

/*when screen is wider than 700px theres enough room to make things look more spaced out*/
@media screen and (min-width: 700px) {
    .passingLeft {
        animation: 6s ease-in-out cloudPassingLeft;
    }

    .passingRight {
        animation: 6s ease-in-out cloudPassingRight;
    }

    @keyframes cloudPassingLeft {
        0% {
            left: 50%;
            top: -5%;
            transform: translateX(-50%) scale(0);
        }
        50% {
            left: 50%;
            top: -5%;
            transform: translateX(-50%) scale(1);
        }
        100% {
            left: -110%;
            top: -15%;
            transform: translateX(-50%) scale(2);
        }
    }
    @keyframes cloudPassingRight {
        0% {
            left: 50%;
            top: -5%;
            transform: translateX(-50%) scale(0);
        }
        50% {
            left: 50%;
            top: -5%;
            transform: translateX(-50%) scale(1);
        }
        100% {
            left: 220%;
            top: -15%;
            transform: translateX(-50%) scale(2);
        }
    }
    /*bigger screen, bigger cloud!*/
    .skybox {
        width: 100%;
    }

}


/*after 850 skybox is at max height, the following css fixes that*/
@media screen and (max-height: 850px) {
    .skybox {
        height: 1800px;
    }
}

@media screen and (min-height: 851px) {
    .skybox {
        height: 225vh;
    }
}