
.page1 {
    /*    width: 75%;
        height: 100%;*/

}

#contact {

}


#navBar {

}

#navBar a {
    /*
    border: 1px solid grey;
    padding: 50px;
    margin-top: 100px;
    */

}


.background {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.skybox{
    position: absolute;
    width: 100%;

}
.skybox.day{
    margin-top: -140%;
    transition-duration: 4s;
}
.skybox.night{
    margin-top: 0;
    transition-duration: 4s;
}
.ground{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 10%;
}
.ground.night{

    transition-duration: 4s;
}
.ground.sky{
    margin-top: 100%;
}
.cockpit{
    position: fixed;
    left: 50%;
    margin-top: 27vh;
    transform: translateX(-50%);
    transition-duration: 4s;
}

.cockpit.land{
    transform: translate(-50%, 100%);
}
.Portrait {
    width: 100vw;
    height: 80vh;
    z-index: 1;

}

.Portrait img {
    z-index: 3;
    position: absolute;
    top: 0;
}


.text {

    margin: 5px auto 0 auto;
    width: 80%;
}

.contactInfo {
    height: 32px;
    width: 32px;
}

.contactInfo:hover {
    filter: invert(1);
    background-color: black;
    border-radius: 50%;
    transform: scale(2) translateY(-10px);
    transition: transform 250ms ease-in-out;
}
