
.Portrait {
    width: 100vw;
    height: 80vh;
    z-index: 1;

}
.background {
    overflow: hidden;
    position: relative;
    height: 100%;
    width: 100%;
}
.skybox,.cockpit,.ground {
    position: absolute;
    transition-duration: 4s;
}
.Portrait.day .skybox{
    margin-top: -140%;

}

.Portrait.day .groundNight,.Portrait.night .groundDay {
    opacity: 0;
}
.Portrait.day .groundDay, .Portrait.night .groundNight{
    opacity: 1;
}

.Portrait.night .skybox{
    margin-top: 0;
}
.Portrait.land .ground{
    margin-top: 10%;
}
.Portrait.land .cockpit{
    transform: translate(-50%, 51%);
}
.Portrait.sky .ground{
    margin-top: 25%;
}
.Portrait.sky .cockpit{
    transform: translateX(-50%);
}
.skybox{
    width: 100%;
}
.ground{
    left: 50%;
transform: translate(-50%);
}
.groundDay , .groundNight{
    transition-duration: 1s;
    transition-delay: 1s;
}
.cockpit{
    left: 50%;
    margin-top: 27vh;

}
.text {

    height: 20vh;
    width: 80%;
}

.contactInfo {
    height: 32px;
    width: 32px;
}

.contactInfo:hover {
    filter: invert(1);
    background-color: black;
    border-radius: 50%;
    transform: scale(2) translateY(-10px);
    transition: transform 250ms ease-in-out;
}
