
button #lighter{
    margin: auto;
}
.box{
    border: 1px solid black;
    margin: 5px;
}

html, body{
    min-width:100Vh;
    height: 100%;

}
.page1{
    width: 100%;
    height: 100%;
    background-color: gray;
}
#contact{
    position: fixed;
    bottom: 0;
    left:0;
    display: flex;
    flex-direction: row;
}

#sideBar{
    background-color: black;
    position: fixed;
    width: 25%;
    height: 110%;
    z-index: 2;
}
#navBar {
    position: fixed;
    top: 0;
    left:0;
    margin: 0;
    display: flex;
    flex-direction: column;
}
#navBar a{

    margin: 100px 50px 25px 25px;
}

.contactInfo{
    height: 32px;
    width: 32px;
}
.contactInfo:hover{
    filter: invert(1);
    background-color: black;
    border-radius: 50%;
    transform: scale(2) translateY(-10px);
    transition: transform 250ms ease-in-out;
}
